<header>
  <h1><%= @movie[:title] %></h1>
</header>

<div class="movie_show">
  <p><span>Studio: </span><%= @movie[:studio] %></p>
  <p><span>Year: </span><%= @movie[:year] %><p>
  <p><span>Bob's Rating: </span><%= @movie[:rating] %></p>
  <p><span>Genre: </span><%= @movie[:genre] %></p>
  <p><span>Synopsis: </span></p>
  <p><%= @movie[:synopsis] %></p>
</div>
